table>tbody>tr:nth-child(odd) >td{
      background-color: rgb(215, 219, 245);
  }
table>tbody>tr:nth-child(even)>td{
      background-color: white;
}

table{
      width: 95%;
      margin: 0 6px;
     /* display: inline-flex; */
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

th,tr,td{
      border: 1px solid white;
      
}
lightning-input {
      width: 80%;
    margin: 10px;
    display: flex;
    text-align: center;
}
.row{
      font-weight: 700;
}
th{
      text-align: left;
      padding: 0 10px;
      font-weight: 700;
}
.right{
      text-align: right;
}
.firstrow{
      background-color: lightblue;
      color: black;
  
}